<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361437884513-chk96njcb8cdk41duibk2qgq4a3utc5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361437884513-chk96njcb8cdk41duibk2qgq4a3utc5s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>361437884513-boq1vn96rbidgglu9aq8mikdhe6v7ua3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAY4_EQZWkQx8Z83H4Q1-OZOomPQPQw2CM</string>
	<key>GCM_SENDER_ID</key>
	<string>361437884513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ricardojoaosousa.pt</string>
	<key>PROJECT_ID</key>
	<string>chatflutter-e954b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatflutter-e954b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361437884513:ios:f986d7643de1cd3afa7a20</string>
	<key>DATABASE_URL</key>
	<string>https://chatflutter-e954b.firebaseio.com</string>
</dict>
</plist>